<%= form_tag({controller:"women", action:"create"}, method:"post") %>

<div>
  <%= label_tag :first_name, 'Primer nombre' %>
  <%= text_field_tag :first_name, "", placeholder: 'Escriba su primer nombre' %>
</div>

<div>
  <%= label_tag :middle_name, 'Segundo nombre' %>
  <%= text_field_tag :middle_name, "", placeholder: 'Escriba su segundo nombre' %>
</div>

<div>
  <%= label_tag :lastname, 'Apellidos' %>
  <%= text_field_tag :lastname, "", placeholder: 'Escriba sus apellidos' %>
</div>

<div>
  <%= label_tag :identification, 'Cédula' %>
  <%= text_field_tag :identification, "", placeholder: 'Escriba el número de la cédula del paciente' %>
</div>

<div>
  <%= label_tag :birth_date, 'Fecha de nacimiento' %>
  <%= date_field_tag :birth_date, "" %>
</div>


<div>
  <%= label_tag :age, 'Edad' %>
  <%= text_field_tag :age, "", placeholder: 'Escriba la edad de la paciente' %> 
</div>

<div>
  <%= label_tag :name_parient, 'En caso de emergencia llamar a:' %>
  <%= text_field_tag :name_parient, "", placeholder: 'Nombre completo' %>
</div>

<div>
  <%= label_tag :civil_status, 'Estado civil' %>
  <%= select_tag(:civil_status, options_for_select([['Soltera','Soltera'],['Casada','Casada'],['Viuda','Viuda'],['Divorciada','Divorciada'],['Unión libre', 'Unión libre'],['Otro','Otro']])) %>
</div>
  
<div>
  <%= label_tag :blood_type, 'Grupo sanguíneo' %>
  <%= select_tag(:blood_type, options_for_select([['A','A'],['B','B'],['AB','AB'],['O','O']])) %>
</div>

<div>
  <%= label_tag :rh, 'RH' %>
  <%= select_tag(:rh, options_for_select([['+', '+'],['-','-']])) %>
</div>

<div>
  <%= label_tag :num_children, 'Número de hijos' %>
  <%= text_field_tag :num_children, "", placeholder: 'Hijos' %>
</div>

<div>
  <%= label_tag :num_abortions, 'Número de abortos' %>
  <%= text_field_tag :num_abortions, "", placeholder: 'Abortos' %>
</div>

<div>
  <%= label_tag(:ovarian_cancer, "Ha sufrido alguna vez cancer de ovarios?") %>
  <%= label_tag :ovarian_cancer_yes, "Si" %>
  <%= radio_button_tag(:ovarian_cancer, "yes") %>

  <%= label_tag :ovarian_cancer_no, "No" %>
  <%= radio_button_tag(:ovarian_cancer, "No") %>
</div> 

<div>
  <%= label_tag(:alzheimer, "Ha sufrido alguna vez Alzheimer?") %>
  <%= label_tag :alzheimer_yes, "Si" %>
  <%= radio_button_tag(:alzheimer, "Sí") %>

  <%= label_tag :alzheimer_no, "No" %>
  <%= radio_button_tag(:alzheimer, "No") %>
</div> 

<div>
  <%= label_tag(:diabetes, "Ha sufrido alguna vez diabetes?") %>
  <%= label_tag :diabetes_yes, "Si" %>
  <%= radio_button_tag(:diabetes, "Sí") %>

  <%= label_tag :diabetes_no, "No" %>
  <%= radio_button_tag(:diabetes, "No") %>
</div> 

<div>
  <%= label_tag :diseases, "Enfermedades o tratamientos actuales" %><br>
  <%= text_area_tag(:diseases, " ", placeholder: "Describa brevemente las enfermedades padecidas", size: "24x6") %>
</div>

<%= submit_tag("Guardar") %>